.toggle-ON {
  background-color: #8c31df;
  border: #000;
  border-width: 3px;

}

.toggle-ON .core-toggle {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);

}

/* ununsed for the moment */
@keyframes slide {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
}